MONGO_INITDB_ROOT_USERNAME=your-username
MONGO_INITDB_ROOT_PASSWORD=your-password

MONGO_DB=books_db
MONGO_APP_USERNAME=your-app-username
MONGO_APP_PASSWORD=your-app-password

MONGO_URI=mongodb://user:password@mongodb-url:27017/books_db
DB_NAME=books_db
